/* styles.css */

.root {
    -fx-font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.sidebar {
    -fx-background-color: #2C3E50;
}

.sidebar-button {
    -fx-text-fill: white;
    -fx-background-color: transparent;
    -fx-font-size: 14px;
    -fx-padding: 10 20 10 20;
    -fx-alignment: CENTER_LEFT;
    -fx-border-color: transparent;
}

.sidebar-button:hover {
    -fx-background-color: #34495E;
}

.sidebar-button:focused {
    -fx-background-color: #1ABC9C;
}

